div{
    
    background-color:purple;
}
#appBar button {
    color: white;
    text-decoration: none;
    background-color: purple;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
}
#appBar .regular{
    border: none;
}
#appBar #special{
    border-radius: 70px;
    border-color: white;
    border-style: solid;

}
#logo{
    
    vertical-align: middle;
    padding-left: 50px;
    padding-right: 50px;
    height: 60px;
}